<div class="container relative mx-auto">

    <% if flash[:success] %>
        <div id="flash-success" class="absolute block right-0 top-0 bg-green-100 m-3 py-3 px-5 text-green-600 rounded-lg font-semibold text-lg"><%= flash[:success] %></div>
    <% end %>

    <h1 class="md:text-5xl text-3xl font-bold py-12">History</h1>
    <div class="relative overflow-x-auto shadow-md rounded-md mb-5">
        <table class="w-full border-separate text-sm text-left text-gray-800">
            <thead class="text-xs text-gray-700 uppercase bg-gray-400">
                <tr>
                    <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                    <th scope="col" class="border border-slate-300 px-6 py-3">Pokemon I</th>
                    <th scope="col" class="border border-slate-300 px-6 py-3">Pokemon II</th>
                    <th scope="col" class="border border-slate-300 px-6 py-3">Winner</th>
                    <th scope="col" class="border border-slate-300 px-6 py-3">Battle Date</th>
                    <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md"> </th>
                </tr>
            </thead>
            <tbody>
                <% @histories.each_with_index do |history, index| %>
                    <% if index%2 ==0 %>
                        <tr class="bg-white border-b">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1%></td>

                            <% if history.pokemon_i.is_delete == true %>
                                <td class= "px-6 py-4 bg-red-400 text-white"><%= history.pokemon_i.name%></td>
                            <% else %>
                                <td class = "px-6 py-4"><%= history.pokemon_i.name%></td>
                            <% end %>

                            <% if history.pokemon_ii.is_delete == true %>
                                <td class= "px-6 py-4 bg-red-400 text-white"><%= history.pokemon_ii.name%></td>
                            <% else %>
                                <td class = "px-6 py-4"><%= history.pokemon_ii.name%></td>
                            <% end %>

                            <% if history.winner == nil %>
                                <td class = "px-6 py-4">-</td>
                            <% else %>
                                <td class = "px-6 py-4"><%= history.winner.name%></td>
                            <% end %>
                            <td class = "px-6 py-4"><%= history.battle_date%></td>
                            <td class = "px-6 py-4">
                                <div>
                                    <%= link_to history_path(history) do %>
                                        <%= heroicon "eye", variant: :outline%>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                    <% else %>
                        <tr class="bg-gray-100 border-b">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1%></td>

                            <% if history.pokemon_i.is_delete == true %>
                                <td class= "px-6 py-4 bg-red-400 text-white"><%= history.pokemon_i.name%></td>
                            <% else %>
                                <td class = "px-6 py-4"><%= history.pokemon_i.name%></td>
                            <% end %>

                            <% if history.pokemon_ii.is_delete == true %>
                                <td class= "px-6 py-4 bg-red-400 text-white"><%= history.pokemon_ii.name%></td>
                            <% else %>
                                <td class = "px-6 py-4"><%= history.pokemon_ii.name%></td>
                            <% end %>

                            <% if history.winner == nil %>
                                <td class = "px-6 py-4">-</td>
                            <% else %>
                                <td class = "px-6 py-4"><%= history.winner.name%></td>
                            <% end %>
                            <td class = "px-6 py-4"><%= history.battle_date%></td>
                            <td class = "px-6 py-4">
                                <div>
                                    <%= link_to history_path(history) do %>
                                        <%= heroicon "eye", variant: :outline%>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class = "space-y-3">
        <h1 class="font-semibold text-lg">Legend : </h1>
        <div class="flex h-fit space-x-3">
            <div class="w-5 h-5 bg-red-400"></div>
            <h1>Pokemon Is deleted</h1>
        </div>
    </div>
</div>