<div class="container relative mx-auto">

    <% if flash[:success] %>
        <div id="flash-success" class="absolute block right-0 top-0 bg-green-100 m-3 py-3 px-5 text-green-600 rounded-lg font-semibold text-lg"><%= flash[:success] %></div>
    <% end %>
    <h1 class="md:text-5xl text-3xl font-bold py-12">Pokemon Details</h1>
    <div class="w-full my-10">
        <h1 class="text-center text-6xl font-bold mb-5"><%= @pokemon.name%></h1>
        <div class="flex flex-col md:flex-row md:space-x-8 md:space-y-0 space-y-3 ">
            <div class = "flex-1 w-full h-fit bg-white box-border p-3 shadow-md drop-shadow-lg rounded-md">
                <%= image_tag @pokedex.image, class: "bg-gray-300 box-border p-5 rounded-md" %>
                <div class="flex justify-between items-center px-3 py-5">
                        <h1 class="text-2xl font-semibold">Level : <%= @pokemon.level%></h1>
                        <div class="flex space-x-3 text-white">
                            <% if @pokedex.element_1 == "Fire" %>
                                <h1 class="bg-red-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_1%></h1>
                            <% elsif @pokedex.element_1 == "Water" %>
                                <h1 class="bg-blue-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_1%></h1>
                            <% elsif @pokedex.element_1 == "Grass" %>
                                <h1 class="bg-green-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_1%></h1>
                            <% elsif @pokedex.element_1 == "Normal" %>
                                <h1 class="bg-gray-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_1%></h1>
                            <% end %>
                            <% if @pokedex.element_2 != nil %>
                                <% if @pokedex.element_2 == "Fire" %>
                                    <h1 class="bg-red-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_2%></h1>
                                <% elsif @pokedex.element_2 == "Water" %>
                                    <h1 class="bg-blue-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_2%></h1>
                                <% elsif @pokedex.element_2 == "Grass" %>
                                    <h1 class="bg-green-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_2%></h1>
                                <% elsif @pokedex.element_2 == "Normal" %>
                                    <h1 class="bg-gray-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokedex.element_2%></h1>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
            </div>
            <div class = "flex-1 w-full h-20 space-y-3">
                <div class="flex justify-between">
                    <h1 class="text-green-600 text-3xl font-bold"><%= @pokedex.name%></h1>
                    <h1 class="text-yellow-500 text-3xl font-bold"><%= @pokemon.status%></h1>
                </div>
                <div class ="flex flex-row justify-between">
                    <div class = "basis-1/6 xl:basis-1/12">
                        <h1 class = "text-2xl font-semibold">Hp :</h1>
                    </div>
                    <div class="basis-5/6 xl:basis-11/12">
                        <div class=" relative w-full h-8 bg-gray-300 rounded-md ">
                            <div class="h-8 bg-green-600 rounded-md"  id="pokemon_hp_bar"></div>
                            <div class= "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white" id="pokemon_detail_hp">
                                <%= @pokemon.pokemon_hp%> / <%= @pokemon.pokemon_max_hp%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="flex flex-row justify-between">
                    <div class = "basis-1/6 xl:basis-1/12">
                        <h1 class = "text-2xl font-semibold">Exp :</h1>
                    </div>
                    <div class="basis-5/6 xl:basis-11/12">
                        <div class=" relative w-full h-8 bg-gray-300 rounded-md ">
                            <div class="h-8 bg-blue-600 rounded-md"  id="pokemon_exp_bar"></div>
                            <div class= "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white" id="pokemon_detail_exp">
                                <%= @pokemon.pokemon_exp%> / <%= @pokemon.pokemon_max_exp%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="pt-5">
                    <h1 class="text-2xl font-semibold">Stats</h1>
                    <div class="rounded-md shadow-md drop-shadow-lg p-5 space-y-1">
                        <div class="flex justify-between font-medium">
                            <p>Attack</p>
                            <p><%= @pokemon.pokemon_attack%></p>
                        </div>
                        <div class="flex justify-between font-medium">
                            <p>Defence</p>
                            <p><%= @pokemon.pokemon_defence%></p>
                        </div>
                        <div class="flex justify-between font-medium">
                            <p>Speed</p>
                            <p><%= @pokemon.pokemon_speed%></p>
                        </div>
                        <div class="flex justify-between font-medium">
                            <p>Special</p>
                            <p><%= @pokemon.pokemon_special%></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-2xl font-semibold">Initiate Skill</h2>
        <div class="relative overflow-x-auto shadow-md drop-shadow-lg rounded-md mb-5">
            <table class="w-full border-separate text-sm text-left text-gray-800">
                <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                    <tr>
                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                        <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                        <th scope="col" class="border border-slate-300 px-6 py-3">PP</th>
                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md">Power</th>
                    </tr>
                </thead>
                <tbody>
                    <% @pokemon_skills.each_with_index do |pokemon_skill, index| %>
                        <% if index%2==0 %>
                            <tr class = "bg-white">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                <td class = "px-6 py-4"><%= pokemon_skill.skill.name %></td>
                                <td class = "px-6 py-4"><%= pokemon_skill.last_pp%> / <%= pokemon_skill.skill.pp %></td>
                                <td class = "px-6 py-4"><%= pokemon_skill.skill.power %></td>
                            </tr>
                        <% else %>
                            <tr class = "bg-gray-100">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                <td class = "px-6 py-4"><%= pokemon_skill.skill.name %></td>
                                <td class = "px-6 py-4"><%= pokemon_skill.last_pp%> / <%= pokemon_skill.skill.pp %></td>
                                <td class = "px-6 py-4"><%= pokemon_skill.skill.power %></td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-end">
        <% if @pokemon.status !="In Battle" %>
            <button >
                <%= render 'heal', pokemon: @pokemon %>
            </button>
        <% end %>
    </div>
</div>
<script>
    const hp_pokemon = document.getElementById("pokemon_detail_hp");
    const pokemon_hp_bar = document.getElementById("pokemon_hp_bar");
    const exp_pokemon = document.getElementById("pokemon_detail_exp");
    const pokemon_exp_bar = document.getElementById("pokemon_exp_bar");
    let hp_pokemon_split = hp_pokemon.innerHTML.trim().split("/");
    let hp_bar = hp_pokemon_split[0]/hp_pokemon_split[1]*100;
    let exp_pokemon_split = exp_pokemon.innerHTML.trim().split("/");
    let exp_bar = exp_pokemon_split[0]/exp_pokemon_split[1]*100;

    pokemon_hp_bar.style.width = String(hp_bar)+"%";
    pokemon_exp_bar.style.width = String(exp_bar)+"%";


    const flash_succes = document.getElementById("flash-success");
    if(flash_succes != null){

        const flashTimeout = setTimeout(closeFlash,5000);
        function closeFlash() {
            flash_succes.classList.remove("block");
            flash_succes.classList.add("hidden");
        }
    }
</script>